<div class="container-fluid">
  <div class="jumbotron wrap" *ngFor="let card of cards; let i = index">
    <div class="image-container">
      <img class="image" src="{{card.imageURL}}" alt="Image Not Found" />
    </div>
    <div class="information-container">
      <h3>{{card.header}}</h3>
      <div *ngIf="card.showContactInfo">
        Phone: <a class="contact-link" href="tel:{{unformattedPhoneNumber}}">{{phoneNumber}}</a>&nbsp;
        Email: <a class="contact-link" href="mailto:{{email}}">{{email}}</a>&nbsp;
        Facebook: <a class="contact-link" href="{{facebook}}">{{facebook}}</a><br>
      </div>
      <p>{{card.content}}</p>
    </div>
  </div>
</div>
